<% provide :title, t(".contact") %>
<%= link_to t(".en"), locale:"en" %>
<%= link_to t(".vi"), locale:"vi" %>
<h1><%= t ".contact" %></h1>
<p>
  <%= t ".the" %>
  <a href="http://www.railstutorial.org/contact"><%= t ".contactPage" %></a>.
</p>
