<% provide :title, t(".help") %>
<%= link_to t(".en"), locale:"en" %>
<%= link_to t(".vi"), locale:"vi" %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".get" %>
  <a href="http://www.railstutorial.org/help"><%= t ".link" %></a>.
  <%= t ".app" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".rails" %></em>
  <%= t "book" %></a>.
</p>
