<% provide(:title, "Home") %>
    <%= link_to "English", locale:"en" %>
    <%= link_to "Vietnamese", locale:"vi" %>
    <h1><%= t ".sample" %></h1>
    <p>
    <%= t ".link1" %>
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    <%= t ".link2" %>
    </p>
