<% provide(:title, t(".ho")) %>
    <%= link_to t(".en"), locale:"en" %>
    <%= link_to t(".vi"), locale:"vi" %>
    <h1><%= t ".sample" %></h1>
    <p>
    <%= t ".link1" %>
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    <%= t ".link2" %>
    </p>
